*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.0;
    min-height: 200vh;
    color: #ffffff;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    color: black;
    font-size: 30px;
    width: 400px;
    height: 250px;
    background-color: #ffbf00;
    margin: 40px;
    padding: 40px;
    border: 2px solid red;
    /* position: fixed; */
    /* position: relative; */
    /* position: absolute; */
    position: sticky;
    top: 100px;
    z-index: -5;
}