:root{
    --text-color:  green;
    --accent-color: rgb(132, 241, 7);
    --accent-hover-color: rgb(146, 146, 47);
    --accent-font:sans-serif
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
    background-image: url(/Day_6/website/Images/ChatGPT\ Image\ Feb\ 4\,\ 2026\,\ 03_57_43\ PM.png);
    position: relative;
}

nav{
    background-color: #d5d5d5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 8px;
    font-family:var(--accent-font);
}

nav div h1{
    color: var(--text-color);
    font-size: 24px;
}

nav div a {
    color: green;
    text-decoration: none;
    margin-left: 15px;
    font-size: 18px;
}

nav div a:hover{
    text-decoration: underline;
}

nav div button{
    background-color: var(--text-color);
    border: none;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}
nav div button:hover{
    background-color: var(--accent-color);
    
}

main{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 70%;
    margin: 40px auto;
    gap: 20px;
    font-family: var(--accent-font);
}
.main-left{
    background-color: #87A96B;
    height: 400px;
    padding: 20px;
    border-radius: 8px;
}
.main-left:hover{
    background-color: #87A96B;
    height: 400px;
    padding: 19px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgb(11, 114, 148);
}

.main-left p{
    font-size: 24px;
    line-height: 30px;
    margin: 20px auto;
    
}

.main-left button{
        background-color: var(--text-color);
    border: none;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}
.main-left button:hover{
    background-color: var(--accent-hover-color);
}

.main-right img {
  width: 600px;
  border: 4px solid var(--farm-terracotta);
  border-radius: 8px;
}
.main-right img:hover{
    width: 600px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgb(11, 114, 148);
    padding: .5px;
}
.content h2{
    color: var(--text-color);
    font-size: 36px;
    text-align: center;
    margin-bottom: 25PX;
}
.pdf-tea_cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.card{
    background-color: #87A96B;
    padding: 20px;
    text-align: center;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card button{
    background-color: var(--text-color);
    border: none;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 8px;
    
}
.card button:hover{
    background-color: var(--accent-hover-color);
}

.card img{
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgb(11, 114, 148);
}
.card img:hover{
    width: 200px;
    cursor: pointer;
    padding: 1px;
}

.footer{
    display: flex;
    justify-content: space-around;
    margin: 28px auto;
    height: 10vw;
    background-color: #87A96B;
    width: 80%;
    margin: 60px auto;
    border-radius: 8px;
}
.footer div h1{
    margin: 20px;
}
.footer div p{
    margin: 20px;
}